dd {
  margin-bottom: 1em;
}

#___plusone_0 {
  width:60px !important;
}

.spacer-40 {
  margin-top: 40px
}

.spacer-bottom-30 {
  margin-bottom: 30px
}

.spacer-left-5 {
  margin-left: 5px
}

.spacer-right-5 {
  margin-right: 5px
}
